[submodule "docs"]
    path = docs
    url = https://github.com/bitshares/bitshares-core.wiki.git
    ignore = dirty
[submodule "libraries/fc"]
    path = libraries/fc
    url = https://gitlab+deploy-token-10:T2sqxSaw5jEfr--iBen_@gitlab.pixelplex.by/661-peerplays-pro/fc.git
    ignore = dirty
[submodule "aleth"]
	path = aleth
	url = https://gitlab+deploy-token-11:GUJvy8eRQ7v2jbFqH2qu@gitlab.pixelplex.by/661-peerplays-pro/aleth.git
